
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
:root {
	--back: black;
	--fore: white;
	--accent: red;
}



body{
    background-color: var(--back);
    font-family:Manrope;
    
}
#application{
    display: flex;
    justify-content: center;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background 1.5s ease-in-out;
	background-image: url('../img/def.png');
    

}

.break{
    flex-wrap: wrap;
}


ul.menu {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
	
}


ul.menu li {
	padding: 0.5rem;
	background: var(--fore);
	color: var(--accent);
	transition: 
		background 250ms ease-in-out,
		color 250ms ease-in-out;
}

ul.menu li:hover {
	background: var(--accent);
	color: var(--fore);
}

.textBox{
	background-color: var(--accent);
	min-height: 1000px;
	width: 100vw;
	padding: 5vh;
	position: fixed;
	top: 75vh;
	text-align: center;
	left:0%;
	z-index: 10;
}


#game{
	margin-top: 10vh;
	min-height: 90vh;
}

.textScene{
	position: fixed;
	background-color: transparent;
	color: white !important;
	width: 100vw;
	height: 100vw;
}
.textScene h2{
	margin-top: 50vh;
}
.blackSolid{
	transform: translateX(-100vw);
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	width: 200vw;
	height: 200vw;
	z-index: 3;
}
.textTitle{
	text-shadow: black 2px 2px;
}
.page{
	overflow: scroll;
	overflow-x: hidden;
	max-height: 50vh;
	min-height: 50vh;
	min-width: 30vw;
}
.textScene{
	z-index: 5;
}
